@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap');

.clock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
background-color: red;
font-size: 4rem;
color: white;
width: 500px;
height: 500px;
border-radius: 50%;
}